@import "../../../styles/breakpoints.scss";

// border-bottom: 1px solid rgb(47, 47, 47);
.div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.title {
    display: flex;
    flex-direction: row;
    align-items: center;

    svg {
        height: 30px;
        width: auto;
        padding-right: 10px;
    }
}
.nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 0;
    padding: 0;

    z-index: 1;

    @include sm-max {
        top: -300px;
        position: absolute;
        flex-direction: column;
        align-items: center;
        left: 0;
        padding: 15px 0;
        width: 100vw;
        background-color: var(--color-bg-primary);
        box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);

        &.open {
            right: 0;

            @include md-max {
                top: 25px;
            }
        }
    }

    li {
        list-style-type: none;

        display: flex;
        align-items: center;
        justify-content: center;

        a {
            padding: 5px 10px;
            text-decoration: none;
            color: #c1c2c5;
            background-position: top;
        }

        .navLink:after {
            display: block;
            content: "";
            border-bottom: solid 3px #ee8e41;
            transform: scaleX(0);
            transition: transform 250ms ease-in-out;
        }
        .navLink:after {
            transform-origin: 100% 50%;
        }
        .navLink:hover:after {
            transform: scaleX(1);
            transform-origin: 0% 50%;
        }
    }
}

.mobile {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    background-color: var(--color-bg-primary);
    padding: 10px 35px;
    width: 100%;
    box-sizing: border-box;

    .menu {
        color: #c1c2c5;
    }
}
