$loading-grey: #4b4b4b;

.link {
    display: flex;
    flex-direction: row;

    height: fit-content;

    list-style-type: none;
    position: "relative";
    cursor: "pointer";
    overflow: "hidden";
    transition: transform 150ms ease, box-shadow 100ms ease;

    border: 1px solid #c1c2c5;

    border-radius: 5px;
    &:hover {
        transform: scale(1.01);
        box-shadow: 5px 5px 5px #353535;
    }

    a {
        text-decoration: none;
        position: relative;

        .card {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            max-width: 450px;

            padding: 30px 20px 30px 45px;

            &::before {
                content: "";

                top: 0;
                bottom: 0;
                left: 0;
                position: absolute;
                width: 8px;

                background: #c1c2c5;

                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }

            svg {
                width: auto;
                height: 50px;
                margin-bottom: 10px;
            }

            .title {
                font-weight: 500;
                font-size: 20px;
            }
            .date,
            .description {
                font-size: 16px;
            }
        }
    }

    align-items: center;
    justify-content: space-between;
}

.loader {
    position: relative;

    height: 310px;
    width: 405px;

    border: 1px solid #c1c2c5;
    background-color: #25262b;

    padding: 30px 20px 30px 45px;

    display: flex;
    flex-direction: column;
    gap: 15px;

    &::before {
        content: "";

        top: 0;
        bottom: 0;
        left: 0;
        position: absolute;
        width: 8px;

        background: #c1c2c5;

        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    .icon,
    .date {
        border-radius: 10px;

        background-color: $loading-grey;
        background: linear-gradient(
                100deg,
                rgba(255, 255, 255, 0) 40%,
                #c1c2c5a9 50%,
                rgba(255, 255, 255, 0) 60%
            )
            $loading-grey;
        background-size: 200% 100%;
        background-position-x: 180%;
        animation: 1s loading ease-in-out infinite;
    }

    .title,
    .description {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .icon {
        width: 50px;
        height: 50px;
        border-radius: 5px;
    }

    .title {
        * {
            width: 80%;
            height: 20px;
        }

        & :last-child {
            width: 65%;
        }
    }
    .description {
        * {
            width: 90%;
            height: 16px;
        }

        & :last-child {
            width: 65%;
        }
    }

    .title,
    .description {
        * {
            border-radius: 10px;

            background-color: $loading-grey;
            background: linear-gradient(
                    100deg,
                    rgba(255, 255, 255, 0) 40%,
                    #c1c2c5a9 50%,
                    rgba(255, 255, 255, 0) 60%
                )
                $loading-grey;
            background-size: 200% 100%;
            background-position-x: 180%;
            animation: 1s loading ease-in-out infinite;
        }
    }

    .date {
        width: 40%;
        height: 16px;
    }
}

@keyframes loading {
    to {
        background-position-x: -20%;
    }
}
